.home {
  width: 100%;
  align-items: center;
  font-family: "Emblema One", cursive;
  color: #3e497a;
  background: linear-gradient(
      to bottom,
      rgba(246, 197, 175, 0.1),
      rgba(0, 0, 255, 0.1)
    ),
    url("/Users/mareikebrandt/Desktop/projekte/react/simple_portfolio/src/assets/392.jpg");
}

.word {
  color: #f3c44e;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a2d2ff;
  border-bottom: 0.5rem solid white;
}
.about #intro {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  border: solid 1rem white;
}

.about h2 {
  font-size: 80px;
  color: #f3c44e;
  height: 50px;
}

.about .prompt {
  width: 40%;
  font-size: 30px;
  font-weight: bold;
  font-family: "Charis SIL", serif;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: #a2d2ff;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(
    to bottom,
    rgba(246, 197, 175, 1),
    rgb(248, 235, 230, 0.9)
  ); */
  background-color: #f6c5af;
  border-bottom: 0.5rem solid white;
}

.skills h1 {
  color: white;
}

.skills .list {
  list-style: none;
  width: 60%;
  color: #8b96d1;
}

.list span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .headline {
    font-size: 30px;
  }
}
